
.nav {
  height: 50px;
}

.gameImg {
  text-align: center;
}

.gameImg > img {
  display: block;
  width: 100%;
}

.popUp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


