
.nav {
  height: 50px;
}

.gameImg {
  text-align: center;
}

.gameImg > img {
  display: block;
  width: 100%;
}

.popUp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.popUp > * > img {
  height: 45px;
}

.popUp > *:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.07ms;
}